script: |
  super compile -C -O 'values {a:1,c:1} | values a, {b:a}, c'
  echo ===
  super compile -C -O -dynamic 'from f | values {a,b,c:1} | aggregate count(a) by b, c'
  echo ===
  super compile -C -O -dynamic 'from f | values {...a} | values {...b.c} | values d, {e}'
  echo ===
  super compile -C -O 'values {a:{b:1}} | values {a:{...a,c:2}} | values {a:{...a,d:3}}'
  echo ===
  super compile -C -O -dynamic 'from f | {...a,...b} | values {c}'
  echo ===
  super compile -C -O -dynamic 'from f | {a,...b} | values {a}'
  echo ===
  super compile -C -O -dynamic 'select a, max(b) as c from f group by a | aggregate min(c) by a'
  echo ===
  super compile -C -O 'values {b:{d:1},c:{d:2}} | values {d:3,...b,...c}'
  echo ===
  super compile -C -O -dynamic 'from f | values {a:{...b,...c}} | values a.d'

outputs:
  - name: stdout
    data: |
      null
      | values 1, {b:1}, 1
      | output main
      ===
      file f unordered fields a,b
      | aggregate
          count:=count(a) by b:=b,c:=1
      | output main
      ===
      file f fields a.b.c.d,a.b.c.e
      | values a.b.c.d, {e:a.b.c.e}
      | output main
      ===
      null
      | values {a:{b:1,c:2,d:3}}
      | output main
      ===
      file f fields a,b
      | values {...a,...b}
      | values {c:c}
      | output main
      ===
      file f fields a,b
      | values {a:a,...b}
      | values {a:a}
      | output main
      ===
      file f unordered fields a,b
      | aggregate
          t0:=max(b) by k0:=a
      | aggregate
          min:=min(t0) by a:=k0
      | output main
      ===
      null
      | values {d:2}
      | output main
      ===
      file f fields b,c
      | values {a:{...b,...c}}
      | values a.d
      | output main
